[init]
	defaultbranch = master

[core]
	editor = vim
	autocrlf = input

[user]
	name = Vyacheslav Dmitriev
	email = rtefforg@gmail.com

[diff]
	tool = vimdiff

[merge]
	tool = vimdiff

[alias]
	st = status
	co = checkout
	fa = fetch --prune --all
	count = !git shortlog -sn
