[init]
    defaultbranch = master

[core]
	editor = nvim
	autocrlf = input

[color]
	ui = true

[user]
	name = Vyacheslav Dmitriev
	email = rtefforg@users.noreply.github.com

[diff]
    tool = vimdiff

[merge]
    tool = vimdiff

[alias]
    st = status
    co = checkout
    fa = fetch --prune --all
